
@media only screen and (min-width: 760px) {
	body {
		display: grid;
		grid-template-columns: 15% 35% 35% 15%;
		grid-template-rows: auto 15% auto auto 30% auto;
		grid-template-areas: 
			"quiz-selector quiz-selector credits credits"
			"quiz-name quiz-name quiz-name quiz-name"
			". question-result question-result ."
			"question-number-text question-text question-text score"
			". question-options question-options ."
			". submit-answer-button submit-answer-button .";
	}
}


/* Mobile */
body {

}

#quiz-selector {
	grid-area: quiz-selector;

}
#credits {
	grid-area: credits;
	font-size: 15px;
}

#quiz-name {
	grid-area: quiz-name;
	text-align: center;
}

#question-number-text {
	grid-area: question-number-text;
}

#question-text {
	grid-area: question-text;
}

#question-options {
	grid-area: question-options;
}

#question-result {
	grid-area: question-result;
}

#submit-answer-button {
	grid-area: submit-answer-button;
}

#score {
	grid-area: score;
	text-align: center;
	font-size: 30px;
}